._cursor-poiter
{
    cursor: pointer;
}

@import 'core/_variable.scss';
@import 'core/_color.scss';
@import 'core/_tag_elements.scss';

@import 'core/_button.scss';
@import 'core/_effect.scss';
@import 'core/_space.scss';
@import 'core/_text.scss';
@import 'core/thirdParty/_b_lazy.scss';
@import 'core/thirdParty/_modulr.scss';
@import "core/thirdparty/_nouislider.scss";
@import "core/thirdparty/_quill-snow.scss";
@import "core/thirdparty/_c3js.scss";

._require {
    display: inline-block;
    height: 10px;
    width: 10px;
    color: red;  
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    line-height: 17px;
}
/*POPUP*/
/* The Modal (background) */
._modal.visible {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-transition: opacity .25s ease,visibility 0s ease;
    transition: opacity .25s ease,visibility 0s ease;
}
._modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,.7);
    -webkit-transition: opacity .25s ease,visibility 0s ease .25s;
    transition: opacity .25s ease,visibility 0s ease .25s;
}
._modal._model-style1 {
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    overflow:initial;
    ._model-body{
        min-width:650px;
    }
}
/* Modal Content */
._modal-content {
    background-color: white;
    max-height: 100vh;
    overflow-y: auto;

    ._model-head {
        color: white;
    }

    ._model-body {
        height: auto;
        min-width: 100px;
    }

    ._model-close {
        float: right;
        font-size: 22px;
        /* font-weight: bold; */
        top: 5px;
        position: absolute;
        right: 7px;
        z-index: 10;

        &:before {
            color: black !important;
        }
    }
}

/* The Close Button */


._model-close:hover,
._model-close:focus {
    color: $primary-text-color;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 800px)
{
    ._modal-content {
        width: 90vw;  
        max-height: 100vh;
        overflow-y: auto;
    }

    img{
        max-width:100%;
    }
}
/* __ toggle switch __*/


input[type=checkbox].check ~ .track::after {
    content: attr(data-uncheck-content);
    left: 56px;
    position: absolute;
    color: #333;
    font-weight: 300;
    width: 500px;
    font-size: small;
    padding-top: 3px;
}

input[type=checkbox].check:checked ~ .track::after, input[type=checkbox].check.active ~ .track::after {
    content: attr(data-check-content);
    left: 56px;
    position: absolute;
    color: #333;
    font-weight: 300;
    font-size: small;
    padding-top: 3px;
}
/*checkbox*/
label[for] {
    cursor: pointer;
}

input[type=checkbox] + i:before {
    content: "\f096";
}

input[type=checkbox]:checked + i:before {
    content: "\f046";
}

label input[type=checkbox], label input[type=radio] {
    display: none;
}

input[type=checkbox] + i:before, input[type=radio] + i:before {
    color: #555;
    font-size: 20px;
    font-family: FontAwesome;
    font-style: normal;
    /*display: inline-block;*/
    width: 1em;
    cursor: pointer;
    vertical-align: middle;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
}


.round .switch,
.round .track {
    border-radius: 122px;
    -webkit-border-radius: 122px;
    -moz-border-radius: 122px;
}

/*CUSTOM*/

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    display: block;
}