@import '../../../core/_variable.scss';

body {
    font-family: 'Google Sans', 'Open Sans', sans-serif !important;
    line-height: normal;
    font-size: 16px;

    p {
        line-height: normal;
    }

    main {
        section {
            z-index: 1;
        }
    }
}

[data-main-section] {
    min-height: calc(100vh - 48px);

    header [data-black-row] {
        background-color: #212121;
        text-align: center;
        padding: 35px;

        h1 {
            color: white;
            font-weight: bold;
            font-size: 60px;
            line-height: 60px;
        }
    }
}

._y-tab-content {
    border: 1px solid #bdbdbd;
    background-color: #fff;
}

._y-navbar {
    float: left;
    background-color: #313b3f;
    border-right: solid 1px #151d21;
    overflow: hidden;
    position: fixed;
    min-height: 100vh;
    font-family: 'Jura', sans-serif;

    [data-item] {
        padding: 13px 20px 17px 20px;
        /*border-top: solid 1px #404a4e;*/
        transition: all .5s ease;
        overflow: hidden;
        display: block;
        font-family: Jura,cursive;

        ._image-wrap {
            img {
                width: 35px;
                max-height: 35px;
            }
        }

        [data-text] {
            color: #9ba5ac;
            font-size: 24px;
            padding-left: 10px;
            padding-top: 4px;
            width: calc(100% - 40px);
            display: block;
            float: right;
            cursor: pointer;
        }

        &.active {
            background-color: #20282b;

            [data-text] {
                cursor: default;
                color: $primary-color;
            }

            & ~ ._id-categoryList {
                background-color: #20282b;
            }
        }
    }

    [data-menu] {
        li {
            border-color: #404a4e;

            [data-show-hide] {
                & ~ ._id-categoryList {
                    height: 0;
                    max-height: 0;
                    opacity: 0;
                    transition: all .5s ease;
                    overflow: hidden;

                    ._image-wrap {
                        display: none;
                    }

                    [data-text] {
                        font-size: 20px;                       
                        padding-top: 4px;
                        width: 100%;
                        display: block;
                        float: right;
                        cursor: pointer;
                    }
                }
            }

            [data-show-hide]:checked {
                & ~ ._id-categoryList {
                    height: auto;
                    max-height: 10000px;
                    opacity: 1;
                    transition: all .5s ease;
                }

                & ~ label {
                    ._y-triagle {
                        transform: rotate(180deg);
                    }
                }
            }

            ._y-triagle {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 5px 0 5px;
                border-color: #ffffff transparent transparent transparent;
                position: absolute;
                transition: all .5s ease;
                top: 30px;
                right: 10px;
            }
        }
    }
}

._y-logo ~ ._id-categoryList {
    padding-left: 0;
}

@media (max-height: 500px) {
    [data-container-logo]{
        border: none !important;
        img{
            display:none !important;
        }
    }
}

@media (max-width: 800px) {
    [data-container-header-category] ul {
        height: calc(100vh - 105px);
        overflow-y: auto;
        [data-first-li]:first-child{
            display:none;
        }
    }
    //Shoping Cart
    [data-container-shoping-cart].visible {
        [data-container] {
            transform: none;
        }
    }

    [data-container-shoping-cart] {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10;

        ._modal {
        }

        [data-container] {
            width: 340px;
            float: right;
            height: 100%;
            display: block;
            z-index: 500;
            overflow: hidden;
            background-color: #fff;
            -webkit-transition: transform .25s ease;
            -webkit-transition: -webkit-transform .25s ease;
            transition: -webkit-transform .25s ease;
            transition: transform .25s ease;
            transition: transform .25s ease,-webkit-transform .25s ease;
            transform: translate3d(340px,0,0);
            -webkit-transform: translate3d(340px,0,0);

            [data-type-close-popup] {
                line-height: 30px;

                ._close-button {
                    height: 11px;
                }
            }
        }
    }
    //
    [data-main-section] {
        min-height: initial;
    }


    [data-container-mobile-nav].visible {
        [data-container] {
            transform: none;
        }
    }

    [data-container-mobile-nav] {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10;

        ._modal {
        }

        [data-container] {
            width: 340px;
            float: left;
            height: 100%;
            display: block;
            z-index: 500;
            overflow: hidden;
            background-color: #fff;
            -webkit-transition: transform .25s ease;
            -webkit-transition: -webkit-transform .25s ease;
            transition: -webkit-transform .25s ease;
            transition: transform .25s ease;
            transition: transform .25s ease,-webkit-transform .25s ease;
            transform: translate3d(-340px,0,0);
            -webkit-transform: translate3d(-340px,0,0);

            [data-type-close-popup] {
                line-height: 30px;

                ._close-button {
                    height: 11px;
                }
            }
        }
    }
}

