@import '../../../core/_variable.scss';

//tab Login info
._tabLoginDetail {
    ._changeEmailBox, ._changePassword {
        display: none;
        opacity: 0;
        height: 0;
    }

    #chkShowChangeEmailBox:checked {
        & ~ .row .overflow-hidden ._changeEmailBox {
            display: block;
            opacity: 1;
            height: auto;
        }
    }

    #chkShowChangePasswordBox:checked {
        & ~ .row .overflow-hidden ._changePassword {
            display: block;
            opacity: 1;
            height: auto;
        }
    }
}
[data-plus] {
    position: absolute;
    bottom: 6px;
    left: 11px;
}
[data-phone] {    
    padding-left: 20px;
}

//end