/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
._z-Created {
  border: 1px solid transparent;
  background-color: #03A9F4; }

._z-Confirm {
  border: 1px solid #03A9F4; }

._z-Invalid {
  border: 1px solid #F44336; }

._z-Deploy {
  border: 1px solid #FFEB3B; }

._z-Complete {
  border: 1px solid #00ff21; }

._z-RequestDelete {
  border: 1px solid transparent;
  background-color: #CCCCCC; }

[data-app-widget] [data-menu]:before {
  content: '\2807';
  font-size: 27px;
  padding-top: 5px;
  position: absolute;
  right: 0;
  padding: 10px 0; }

[data-app-widget] [data-col-1] {
  display: inline-block;
  vertical-align: middle; }

[data-app-widget] [data-col-2] {
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle; }
