@import "variable";
._-button {
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;

    &:hover {
        background-image: none !important;
    }
}
._btn-border:hover {
    color: #F44336;

    background-image: none !important;
}
._btn-fill-red-opacity {
    background-color: $primary-color-opacity;
}
._btn-border-2 {
    padding: 10px 40px;
    border: 2px solid gray;
    color: #F44336;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 20px;
    background-color: white;
    transition: background ease-in-out .1s;
    cursor: pointer;
    display:inline-block;
}

._btn-border-1 {
    padding: 10px 40px;
    border: 1px solid gray;
    color: #F44336;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 20px;
    background-color: white;
    transition: background ease-in-out .1s;
    cursor: pointer;
    display: inline-block;
} 

._btn-border-2:hover {
    color: white !important;
    background-color: #F44336;
    border-color: #F44336;
}
._inside-button {
    background-color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
}
._btn-160{
    width:160px;
}

._btn-dark-red, ._btn-dark-red:hover {
    background-color: $primary-color-dark !important;
}
._btn-dark-red:hover {
    background-image: linear-gradient(rgba(0,0,0,.18),rgba(0,0,0,.18)) !important;
}

[data-class="chkExpandCollapse"] {
    &:checked {
        & ~ [data-class="chkExpandCollapse"] {
            &::before {
                content: "\f106";
            }
        }
    }

    & ~ [data-class="chkExpandCollapse"] {
        font-family: FontAwesome;
        cursor: pointer;
        font-weight: 700;

        &::before {
            content: "\f107";
        }
    }
}
._expand {
    font-family: FontAwesome;
    cursor: pointer;
    display: inline-block;
    width: auto;
    font-weight: 700;

    &::before {
        content: "\f107";
        border: none;
        display: inline-block;
        width: auto;
    }
}
._collapse {
    font-family: FontAwesome;
    cursor: pointer;
    display: inline-block;
    width: auto;
    font-weight: 700;

    &::before {
        border: none;
        display: inline-block;
        content: "\f106";
        width: auto;
    }
}

button.btn._glass-background {
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    background: rgba(230,240,255,0.4);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

button.btn._glass-background:hover {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.25);
}

button.btn._glass-background:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
