@import 'core/_variable.scss';

._color_background {
    background-color: $bg-color;
}

._fill-smoke {
    background-color: $silver-smoke;
}
._fill-white-smoke {
    background-color: #f3f2f3;
}
._fill-silver-opacity {
    background-color: rgba(117, 117, 117, 0.76);
}
._background-divider-color {
    background-color: $divider-color;
}

._background-accent-color {
    background-color: $accent-color;
}

._background-gray {
    background-color: $primary-text-color;
}

._red_background {
    background-color: $primary-color;
}

._dark-red_background {
    background-color: $primary-color-dark;
}

._background_white_067 {
    background-color: rgba(255, 255, 255, 0.67);
}

._color-text {
    color: $color-text !important;
}
._color-input-text {
    color: $color-input-text !important;
}
._color-primary-color-text {
    color: $primary-color-text;
}
._color-secondary-color-text {
    color: $secondary-text-color;
}
._color-text-blue {
    color: $accent-color !important;
}
._color-text-gray {
    color: $accent-color !important;
}

._color-text-hover-red {
    &:hover {
        color: $primary-color !important;
    }
}
._color-init{
    color:initial;
}

ul.striped li:nth-child(odd), table tr._disabled, ul li._disabled {
    background: $silver-smoke;
}
 



