/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
$bg-color: #fafafa;
$light-silver: #f5f5f5;

/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
//$border-gray: rgba(158, 158, 158, 0.63);
//$text-color: #5e5e5e;
$line-height:21px;
$line-height-x:26px;
$z-index-1:1;


$color-text: #444;
$black-tranparent: rgba(0, 0, 0, 0.5) ;
$color-input-text: #555;
$primary-color-opacity: rgba(#F44336, 0.76);
$primary-color-dark: #D32F2F ;//dark red
$primary-color: #F44336 ;//red
$primary-color-light: #FFCDD2 ;//lisght red
$primary-color-text: #FFFFFF ;//white
$accent-color: #03A9F4 ;//blue
$primary-text-color: #212121 ;//black
$secondary-text-color: #757575 ;//silver
$divider-color: lightgray; //smoke
$silver-smoke: #f6f6f6 ; //line-smoke
$silver-smoke-opa5: rgba(117, 117, 117, 0.58); //line-smoke
$light-green-color: #8BC34A;//light green
