@import '../core/_variable.scss';
@import '../core/mixin.scss';

[data-user-box] {
    @include arrow-box(top,9px,white,0px,$primary-text-color,320px,250px);
    position: absolute !important;
    overflow: scroll;
    overflow: unset;
    z-index: 100;
}
