/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
header h1 {
  font-size: 60px; }

[data-session-1] {
  height: 600px;
  /* The image used */
  background-image: url("/images/pages/contact/100-min.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  [data-session-1] h2 {
    font-size: 40px;
    line-height: 50px; }

[data-section-contact-form] .wrapper960 {
  background-image: url("/images/pages/home/index/1104-min.jpg");
  background-size: cover;
  -webkit-box-shadow: 0 40px 120px -20px rgba(0, 0, 0, 0.6);
          box-shadow: 0 40px 120px -20px rgba(0, 0, 0, 0.6); }
  [data-section-contact-form] .wrapper960 ._z-round-icon {
    width: 25px;
    height: 25px;
    padding: 3px 8px;
    font-size: 15px; }
  [data-section-contact-form] .wrapper960 form .row {
    padding-top: 20px; }
    [data-section-contact-form] .wrapper960 form .row label {
      position: absolute;
      top: 4px;
      -webkit-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      left: 0; }
    [data-section-contact-form] .wrapper960 form .row input:hover, [data-section-contact-form] .wrapper960 form .row textarea:hover {
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      background-color: transparent !important; }
    [data-section-contact-form] .wrapper960 form .row input:focus, [data-section-contact-form] .wrapper960 form .row textarea:focus {
      border-bottom-width: 2px;
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
      background-color: transparent !important; }
      [data-section-contact-form] .wrapper960 form .row input:focus + label, [data-section-contact-form] .wrapper960 form .row textarea:focus + label {
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        font-size: 11px;
        top: 4px; }
    [data-section-contact-form] .wrapper960 form .row[data-captcha-container] {
      padding-top: 31px; }
      [data-section-contact-form] .wrapper960 form .row[data-captcha-container] ._image-wrap {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 26px; }
        [data-section-contact-form] .wrapper960 form .row[data-captcha-container] ._image-wrap::before {
          width: 100%;
          height: 100%;
          background-image: url(/images/icons/continuous-min.svg);
          position: absolute;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 80% 80%;
          background-color: transparent;
          -webkit-transition: all .5s ease-in;
          -o-transition: all .5s ease-in;
          transition: all .5s ease-in;
          display: none; }
        [data-section-contact-form] .wrapper960 form .row[data-captcha-container] ._image-wrap:hover::before {
          background-color: #0000003b;
          -webkit-transition: all .5 ease-in;
          -o-transition: all .5 ease-in;
          transition: all .5 ease-in;
          display: block; }

._z-map-container {
  height: 450px;
  overflow: hidden; }
  ._z-map-container #mapContainer {
    width: 100%;
    height: 600px; }

@media (max-width: 1024px) {
  section header ._center-tranform {
    width: 100%;
    text-align: center; }
  section [data-session-1] {
    height: calc(100vh - 53px); }
  section h1 {
    font-size: 40px;
    line-height: 46px; } }
