@import '../../core/_variable.scss';

header{
    h1{
        font-size: 60px;
    }
}

[data-content] {
    top: -65px;
    position: relative;
}

[data-tab] {
    z-index: 10 !important;
    background-color: #f5f5f570;
}

label.active {
    background-color: #ff000012;

    ._z-radio-sign {
        border-color: $primary-color;


        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $primary-color;
            top: 4px;
            left: 4px;
        }
    }
}
._z-radio-sign {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #cbd6e2;
    position: relative;
    border-radius: 50%;
    background: #fff; 
}

._list-col-2{
    li{
        padding:5px 10px;
    }
}

[data-tab-content] {
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

[data-session-1] {
    height: 600px;
    /* The image used */
    background-image: url('/images/pages/price/index/3515-min.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 1024px) {
    section {
        header {
            ._center-tranform {
                width: 100%;
                text-align: center;
            }
        }

        [data-session-1] {
            height: calc(100vh - 53px);
        }

        h1 {
            font-size: 40px;
            line-height: 46px;
        }

        [data-content] {
            top: -56px;

            [data-tab-border] {                
                li {                
                    max-width: 45%;
                }

                [data-tab="1"] {
                    min-width: 150px;
                }

                [data-tab="2"] {
                    min-width: 182px;
                }
            }
        }        
    }
}
