/*https: //www.materialpalette.com/red/light-blue*/
/*http: //paletton.com/#uid=7030u0koVuCfdHJkrz6tQr5vtle*/
/*$bg-color: #e9ebee;*/
/*$text-blue: #4b98c8;*/
/*$gray-border-color: rgba(0,0,0,.2);*/
img {
  width: initial !important;
  max-width: initial !important; }

header h1 {
  font-size: 60px;
  line-height: 80px; }

[data-content] {
  top: -60px;
  position: relative; }

[data-tab] {
  top: 6px !important;
  background-color: #f5f5f570; }
  [data-tab] label {
    color: black !important;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }

[data-tab] {
  z-index: 10 !important; }

label.active {
  background-color: #ff000012; }
  label.active ._z-radio-sign {
    border-color: #F44336;
    opacity: 0.4; }
    label.active ._z-radio-sign::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #F44336;
      top: 4px;
      left: 4px; }

._z-radio-sign {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #cbd6e2;
  position: relative;
  border-radius: 50%;
  background: #fff; }

._list-col-2 li {
  padding: 5px 10px; }

[data-tab-content] {
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important; }

[data-session-1] {
  height: 600px;
  /* The image used */
  background-image: url("/images/pages/demo/8478-min.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  [data-session-1] h2 {
    font-size: 40px;
    line-height: 50px; }

[data-item] [data-item-name] {
  background-color: white; }

[data-item] [data-item-image] {
  -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }
  [data-item] [data-item-image]:hover {
    -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.35);
            box-shadow: 0 10px 50px rgba(0, 0, 0, 0.35); }

@media (max-width: 1024px) {
  section header ._center-tranform {
    width: 100%; }
  section [data-session-1] {
    height: calc(100vh - 53px); }
  section h1 {
    font-size: 40px;
    line-height: 46px; }
  section [data-content] {
    top: 0; }
    section [data-content] [data-tab-border] {
      padding: 10px; }
      section [data-content] [data-tab-border] li {
        border: 1px solid #BDBDBD !important;
        border-radius: 0;
        top: 0 !important;
        max-width: initial; }
  section [data-active-tab-number] li[data-tab-active], section [data-active-tab-number="0"] li[data-tab="0"], section [data-active-tab-number="1"] li[data-tab="1"], section [data-active-tab-number="2"] li[data-tab="2"], section [data-active-tab-number="3"] li[data-tab="3"], section [data-active-tab-number="4"] li[data-tab="4"], section [data-active-tab-number="5"] li[data-tab="5"], section [data-active-tab-number="6"] li[data-tab="6"] {
    border-top: 1px solid #ff0000 !important; }
    section [data-active-tab-number] li[data-tab-active] label, section [data-active-tab-number="0"] li[data-tab="0"] label, section [data-active-tab-number="1"] li[data-tab="1"] label, section [data-active-tab-number="2"] li[data-tab="2"] label, section [data-active-tab-number="3"] li[data-tab="3"] label, section [data-active-tab-number="4"] li[data-tab="4"] label, section [data-active-tab-number="5"] li[data-tab="5"] label, section [data-active-tab-number="6"] li[data-tab="6"] label {
      color: #f44336 !important; } }
