@import '../../core/_variable.scss';

[data-main-section] {
    padding-top: 170px;
    background-color: #f8f8f8;    
}

@media (max-width: 1024px) {
    [data-main-section] {
        padding-top: 0;        
    }
}