@import '../../core/_variable.scss';

[data-main-section] {
    padding-top: 135px;
    background-color: #f8f8f8;
    background-image: url('/images/pages/auth/882-1600-min.jpg');    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[data-main-section] {
    min-height: 100vh;
    [data-content]{
        padding-top:135px;
    }
}

@media (max-width: 1024px) {
    
}

