@import '../../core/_variable.scss';

header{
    h1{
        font-size: 60px;
    }
}

[data-session-1] {
    height: 600px;
    /* The image used */
    background-image: url('/images/pages/contact/100-min.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font-size: 40px;
        line-height: 50px;
    }
}

[data-section-contact-form] {

    .wrapper960 {
        background-image: url("/images/pages/home/index/1104-min.jpg");
        background-size: cover;
        box-shadow: 0 40px 120px -20px rgba(0,0,0,.6);

        ._z-round-icon {
            width: 25px;
            height: 25px;
            padding: 3px 8px;
            font-size: 15px;
        }

        form {
            .row {
                padding-top: 20px;

                label {
                    position: absolute;
                    top: 4px;
                    transition: all .25s ease;
                    left: 0;
                }

                input, textarea {
                    &:hover {
                        box-shadow: none !important;
                        background-color: transparent !important;
                    }

                    &:focus {
                        border-bottom-width: 2px;
                        box-shadow: none !important;
                        background-color: transparent !important;

                        & + label {
                            transition: all .25s ease;
                            font-size: 11px;
                            top: 4px;
                        }
                    }
                }

                &[data-captcha-container] {
                    padding-top: 31px;

                    ._image-wrap {
                        &::before {
                            width: 100%;
                            height: 100%;
                            background-image: url(/images/icons/continuous-min.svg);
                            position: absolute;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: 80% 80%;
                            background-color: transparent;
                            transition: all .5s ease-in;
                            display: none;
                        }

                        &:hover {
                            &::before {
                                background-color: #0000003b;
                                transition: all .5 ease-in;
                                display: block;
                            }
                        }

                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        top: 26px;
                    }

                    #img-captcha {
                    }

                    input {
                    }
                }
            }
        }
    }
}
._z-map-container {
    height: 450px;
    overflow: hidden;

    #mapContainer {
        width: 100%;
        height: 600px;
    }
}


@media (max-width: 1024px) {
    section {
        header {
            ._center-tranform {
                width: 100%;
                text-align: center;
            }
        }

        [data-session-1] {
            height: calc(100vh - 53px);
        }

        h1 {
            font-size: 40px;
            line-height: 46px;
        }     
    }
}

